<header class="special" id="aboutMe">
    <h1><strong>About Me</strong></h1><br><br>
    <h3>🌟I enjoy to code🌟</h3><br>
    <p>
        My First coding was to develop simple calculator with javascript in elementary school.<br>
        Currently I develop backend of the AI model compression framework.
        I wish to develop my own OS, Compiler<br>
        prefer compile language such as C++, golang</p>
    <br>
    also have interest to contribute open source.
    maintaining small repo()
    I had contributed some open source projects such as tensorflow, awesome cheatsheet <br><br>
    <a href="/en/DetailedAboutMe"><button>more ABOUT ME</button></a>
    </h2>
    <h2></h2>
    <hr>
</header>