<header id="header">
    <a class="logo" href="/en/">Portfolio & PlayGround</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="#aboutMe">About Me</a></li>
        <li><a href="#experience">Experience</a></li>
        <!-- <li><a href="#skill">기술 (Skill)</a></li> -->
        <!-- <li><a href="#knowledge">지식 (Knowledge)</a></li> -->
        <!-- <li><a href="#prize">입상 경력 (Prize)</a></li> -->
        <!-- <li><a href="#language">프로그래밍 언어 (Language)</a></li> -->
        <!-- <li><a href="#ranking">랭킹 (Ranking)</a></li> -->
    </ul>
</nav>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1><strong>AI / Backend Engineer</strong></h1>
        <h2><strong>Dong Uk Lim</strong></h2><br><br><br>

    </div>
    <!-- <img src="static/img/main.png" alt=""> -->
    <!-- <video autoplay loop muted playsinline src="static/img/banner.mp4"></video> -->
</section>
<div style="text-align: right">recommend chrome browser</div>
<br>

<div style="text-align: center;">
    
    select language: <a href="/en/">english</a> / <a href="/ko/">korean</a>
</div>
<br><br>

<header class="special">
    <h1><strong>GITHUB & BLOG
        </strong></h1>
    <br>
    <a href="https://github.com/noelbird/" target="_blank"
    rel="noopener noreferrer">GITHUB</a> /
    <a href="https://d33p.tistory.com/" target="_blank"
    rel="noopener noreferrer">Old Blog(lang: kor)</a> /
    <a href="https://noelbird.github.io/" target="_blank"
    rel="noopener noreferrer">New Blog(lang: kor)</a><br>
    <span>Email - lduldu00228@gmail.com</span>
</header>
