<%- include('header') -%>

<br>
<header id="header">
    <a class="logo" href="/">Portfolio</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>
<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">홈 (Home)</a></li>
        <li><a href="#aboutMe">소개 (About Me)</a></li>
        <li><a href="#experience">경험 (Experience)</a></li>
        <li><a href="#skill">기술 (Skill)</a></li>
        <li><a href="#knowledge">지식 (Knowledge)</a></li>
        <li><a href="#prize">입상 경력 (Prize)</a></li>
        <li><a href="#language">프로그래밍 언어 (Language)</a></li>
        <li><a href="#ranking">랭킹 (Ranking)</a></li>
    </ul>
</nav>


<header class="special" id="aboutMe" style="text-align: left; margin-left: 20%; margin-right: 20%">
    <p>
        <h1 style="text-align: center"><strong>About Me</strong></h1>
        <img src="/static/img/picture.jpg" alt="" width="100px" height="100px" style="border-radius: 50%; float: left; margin-left: 2em; margin-right: 2em">
    </p>
    
    <p></p> <br>    
    <h2>I am AI research & SW engineer <b>DongUk Lim</b></h2>
</header>
<br>
    <p style="font-size:150%;margin-left: 20%; margin-right: 20%;">
        (updating aboutme page)
        <br><br><br><br>
        <!-- 제가 좋아하는 코딩으로 사람들의 삶을 편하게 하고자 하는, 작지만 큰 꿈을 가지고 있습니다.<br><br><br>

        <b>가장 IT에 대한 이해가 많이 늘었을 때</b>는 2014년 해킹팀에서 취약점에 관해 연구할 때였습니다.
        <br>해킹 공부는 저에게 많은 것을 보여주었습니다. 피상적으로 이해하고 있던 개념들(예를 들어 스택, 콜링 컨벤션)을
        직접 디버거를 통해서 따라가면서 확인하니 세세하게 이해할 수 있었습니다.
        또한, 컴파일러 없이 헥스에디터로 직접 윈도우즈 프로그램을 만들다 보니 프로그램 구조에 대한 이해도 높아졌습니다.
        <br><br>

        <b>가장 기억에 남는 IT 관련 포럼</b>은 2015년 2월 10일 MBN의 Y 포럼에 갔을 때였습니다. <br>학생이라서 50%할인을 했음에도 불구하고 5만원의 입장료를 받는 포럼이었었습니다.
        거기에서 전설적인 해커 케빈 미트닉이 한국에 방문해서 직접 강연을 했는데, 운 좋게도 미트닉으로 부터 명함을 받았습니다. 충격적인 것은 명함이 문을 따는 도구로 이루어져있던 것이었습니다.
        얇은 알루미늄으로 되어있어서, 왠지 미트닉이라면 모의 침투 테스트를 할 때 물리적인 수단으로 저걸 사용할 수 있겠다 싶었습니다.<br><br> -->

        <img src="/static/img/mitnick.jpg" alt="" width="300px"><br>
        
        hacker Kevin Mitnick's Business Card
        <br><br><br>

        
        <!-- <b>가장 성취감이 있었을 때</b>는 해발 3210m 히말라야 푼힐에서 떠오르는 아침을 봤을 때입니다.<br>
        사진에서 보시면, 위쪽에서 불그스름하게 태양이 떠오르고 있습니다.그 아랫부분이 전부 구름인데
        기상현상이 없는 곳에서 아침을 맞이한 것은 특별한 경험이었습니다.<br> -->
        <img src="/static/img/hymalaya1.jpg" alt="" width="600px"><br>
        Himalaya mountain <br><br><br>

        <!-- <b>AI 엔지니어를 꿈꾸게 된 것</b>은 변리사 공부를 하면서 생긴 가치관의 변화 때문입니다.<br>
        2016년 1월부터 2년 반동안 변리사 공부를 했습니다. 매일 순 공부시간으로 9시간을 맞추려고 노력하면서
        조문, 학설, 판례를 외우는 것이 행복하지 않았습니다. 수험기간이 2년이 넘어가다보니 나에게 잘 맞지않는 법 공부를
        하는 것이 더 이상 무의미하다고 느꼈고, 그 즉시 과감하게 책들을 다 팔고 처분했습니다.
        인생을 돌이켜 보니, 법조문 보다는 코드를 보는 것이 행복했기 때문입니다. 변리사 공부를 그만두자마자
        인공지능 공부를 시작했습니다. 인공지능은 기계에게 학습을 시켜서 기계가 해답을 찾게 한다는 점에서 특별했기 때문입니다.<br> -->
        <img src="/static/img/byun1.jpg" alt="" width="600px"><br>
        <img src="/static/img/byun2.jpg" alt="" width="600px"><br>
        <img src="/static/img/byun3.jpg" alt="" width="600px"><br>
        <img src="/static/img/byun4.jpg" alt="" width="600px"><br>
        When I studied papent lawyer
        <br>
        <br>
        

        <!-- 이후, 
        좋아하는 것을 할 수 있으니까 지치지 않고 공부하며 구현하고 있습니다.
        현재는 AI논문을 읽으며, 오픈소스(<strong>TENSORFLOW</strong> 및 <strong>Awsome Cheatsheet</strong>) 등에 사소한 부분부터 기여하고 있습니다.
        <br>
        저는 언젠가 저만의 운영체제를 만들어서 tensorflow 같은 딥러닝 프레임워크를 운영체제와 결합시키고 싶습니다. <br><br> -->
        <a href="/"><button>back</button></a>
        </h2>
        <h2></h2>
        <hr>
    </p>


	
<%- include('footer') -%>