<header class="special">
    <h1><strong>Awards</strong></h1>

    <div class="highlights">
        <section>
            <div class="content">
                <img src="/static/img/win.png" height="100px" width="100px">
                <header>
                    <h3><b>IOT idea challenge in Daegu, Korea</b></h3>
                </header>
                <p>Excellence Award(given by Kyungpook National University Principal)</p>
            </div>
        </section>
        <section>
            <div class="content">
                <img src="/static/img/win.png" height="100px" width="100px">
                <header>
                    <h3><b>2018 BigData Hackerthon</b></h3>
                </header>
                <p>Excellence Award(given by Korean Postal Service, the director of the headquarters)</p>
            </div>
        </section>
        <section>
            <div class="content">
                <img src="/static/img/win.png" height="100px" width="100px">
                <!-- <header>
                    <h3><b>2019 구글 코드잼</b></h3>
                </header>
                <p>수상 내역: 본선 1-C 진출(2704등 / 약 8만명, 상위 3%)</p> -->
            </div>
        </section>
    </div>
</header>