    <!-- Testimonials
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2></h2>
                <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer
                    lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
            </header>
            <div class="testimonials">
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem
                                non mi integer non faucibus.</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/img/pic01.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem
                                non mi integer non faucibus.</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/img/pic03.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem
                                non mi integer non faucibus.</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/img/pic02.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section> -->

    <!-- Scripts -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/browser.min.js"></script>
	<script src="/static/js/breakpoints.min.js"></script>
	<script src="/static/js/util.js"></script>
    <script src="/static/js/main.js"></script>
    <!-- React Source -->
    <!-- <script src="/static/js/bundle.js"></script> -->
</body>
</html>