<header class="special">
    <h1><strong>입상경력</strong></h1>

    <div class="highlights">
        <section>
            <div class="content">
                <img src="/static/img/win.png" height="100px" width="100px">
                <header>
                    <h3><b>대구 IOT아이디어 경진대회</b></h3>
                </header>
                <p>수상 내역: 우수상(경북대 총장상)</p>
            </div>
        </section>
        <section>
            <div class="content">
                <img src="/static/img/win.png" height="100px" width="100px">
                <header>
                    <h3><b>2018 빅데이터 해커톤</b></h3>
                </header>
                <p>수상 내역: 우수상(우정사업 본부장상)</p>
            </div>
        </section>
        <section>
            <div class="content">
                <img src="/static/img/win.png" height="100px" width="100px">
                <header>
                    <h3><b>2019 구글 코드잼</b></h3>
                </header>
                <p>수상 내역: 본선 1-C 진출(2704등 / 약 8만명, 상위 3%)</p>
            </div>
        </section>
    </div>
</header>