<%- include('../en/header') -%>

<br>
<header id="header">
    <a class="logo" href="/">Portfolio</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>
<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">홈 (Home)</a></li>
        <li><a href="#aboutMe">소개 (About Me)</a></li>
        <li><a href="#experience">경험 (Experience)</a></li>
        <li><a href="#skill">기술 (Skill)</a></li>
        <li><a href="#knowledge">지식 (Knowledge)</a></li>
        <li><a href="#prize">입상 경력 (Prize)</a></li>
        <li><a href="#language">프로그래밍 언어 (Language)</a></li>
        <li><a href="#ranking">랭킹 (Ranking)</a></li>
    </ul>
</nav>

<!-- <h2 style="text-align: center"><b>딥러닝 CNN(keras) 정확도 99.3% 모델입니다.</b></h2> -->
<!-- <p style="text-align: center">다만, 6을 그릴 때 추가적인 개선이 필요해 보입니다.</p> -->
<center><div id="root"></div></center>
<br>
<p style="text-align: center"><a href="/"><button>back</button></a></p>
	
	<!-- CTA -->
	<!-- <section id="cta" class="wrapper">
		<div class="inner">
			<h1>2019 현재 관심사</h1>
			<br>
			<h3><b>자연어처리(NLP): BERT, 컴퓨터 비젼(CV): Mask R-CNN</b></h3>
			<p>
				<br>
				아래의 학회 및 사이트에서 insight를 얻고 있습니다.
				<br>
				<b>ICML</b>(International Conference on Machine Learning), <b>CVPR</b>(Computer Vision & Pattern Recognition), <b>NIPS</b>(Neural Information Processing Systems)
				<br>
				Deep Mind Blog(강화학습), <b>Arxiv</b> 논문들
			</p>
		</div>
    </section> -->
    <script src="/static/js/portfolio/handwriting/bundle.js"></script>
<%- include('../en/footer') -%>